@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-variation-settings: "FILL" 1, "wght" 400;
    src: url("/fonts/MaterialSymbolsOutlined.woff2") format("woff2");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: flex;
    white-space: nowrap;
}

@font-face {
    font-family: "Poltawski";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PoltawskiNowy-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}