@import "./fonts.css";
/*TODO: FIX THIS*/
div:not(.material-symbols-outlined), a:not(.material-symbols-outlined), span:not(.material-symbols-outlined), button:not(.material-symbols-outlined) {
    font-family: "Nunito";
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: "Poltawski";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
}

a, button{
    text-decoration: none;
    color: #222;
    background-color: #eee;
    transition: all 0.1s;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

a:hover, button:hover{
    cursor: pointer;
    background-color: #ddd;
}

a:disabled, button:disabled{
    background-color: #eee;
    cursor: initial;
    color: #aaa;
}

a.warning, button.warning{
    background-color: #f32;
    color: #fff;
}

a.warning:hover, button.warning:hover{
    background-color: #d11;
}

a.primary, button.primary{
    background-color: #126278;
    color: #fff;
}

a.primary:hover, button.primary:hover{
    background-color: #0d4f61;
}


input{
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.content-divider{
    height: 2px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 0px;
}

.content-divider::after{
    background-color: #999;
    content: '';
    height: 2px;
    width: 90%;
}
