@import "./fonts.css";
@import "./themes.css";
/*TODO: FIX THIS*/
div:not(.material-symbols-outlined), a:not(.material-symbols-outlined), span:not(.material-symbols-outlined), button:not(.material-symbols-outlined) {
    font-family: "Nunito";
    font-weight: normal;
    font-style: normal;
    color: var(--primary-bg-ct)
}

h1, h2, h3 {
    font-family: "Poltawski";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    color: var(--primary-bg-ct)
}

a, button{
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--secondary-ct);
    
    transition: all 0.1s;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, button:hover{
    cursor: pointer;
    background-color: var(--secondary-dark);
}

button.icon, button.icon:hover{
    background-color: transparent;
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 36px;
    padding: 0px;
    color: var(--background-ct);
}

button.icon:hover{
    color: var(--primary);
}

a:disabled, button:disabled{
    cursor: initial;
    color: var(--secondary-dark);
    background-color: var(--secondary);
}

a.warning, button.warning{
    background-color: var(--warning);
    color: var(--warning-ct);
}

a.warning:hover, button.warning:hover{
    background-color: var(--warning-dark);
}

a.primary, button.primary{
    background-color: var(--primary);
    color: var(--primary-ct);
}
s
a.primary:hover, button.primary:hover{
    background-color: var(--primary-dark);
}

input{
    padding: 6px;
    border-radius: 8px;
    border: 1px solid var(--secondary-dark);
    background-color: var(--primary-bg);
    color: var(--primary-bg-ct)
}

.content-divider{
    height: 2px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 0px;
}

.content-divider::after{
    background-color: var(--primary-bg-ct);
    opacity: 50%;
    content: '';
    height: 2px;
    width: 90%;
}
