@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-variation-settings: "FILL" 1, "wght" 400;
  src: url("/fonts/MaterialSymbolsOutlined.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a, button{
    text-decoration: none;
    color: #222;
    background-color: #eee;
    transition: all 0.1s;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

a:hover, button:hover{
    cursor: pointer;
    background-color: #ddd;
}

a:disabled, button:disabled{
    background-color: #eee;
    cursor: initial;
    color: #aaa;
}

a.warning, button.warning{
    background-color: #f32;
    color: #fff;
}

a.warning:hover, button.warning:hover{
    background-color: #d11;
}

a.primary, button.primary{
    background-color: #36f;
    color: #fff;
}

a.primary:hover, button.primary:hover{
    background-color: #24d;
}


input{
    padding: 6px;
    border-radius: 8px;
    border: 2px solid #aaa;
}