.root-html{
    height: calc(100% - 24px);
    background-color: var(--secondary-bg);
    padding: 0;
    display: flex;
    justify-content: center;
}

.root-html > body{
    width: min(550px, 100%);
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.layout{
    min-height: calc(100%);
    padding: 12px;
    height: fit-content;
    position: relative;
    background-color: var(--primary-bg);
}

@media only screen and (min-width: 554px){
    .layout{
        border-radius: 12px;
        box-sizing: border-box;
        box-shadow: 0px 3px 6px var(--shadow);
    }

    .root-html{
        margin: 12px;
    }
}