.root-html{
    height: 100%;
}

.root-html > body{
    width: min(550px, 100%);
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;
}

.layout{
    min-height: 100%;
    height: fit-content;
    margin-bottom: 12px;
}

@media only screen and (min-width: 550px){
    .layout{
        border-radius: 12px;
        box-sizing: border-box;
        padding: 12px;
        box-shadow: 0px 3px 6px #888888;
    }
}