.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
    opacity: 0%;
    animation-name: background;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialog{
    background-color: var(--primary-bg);
    box-shadow: -2px 6px 6px var(--shadow);

    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;

    position: fixed;
    z-index: 101;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);

    animation-name: dialog;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialog > div:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 12px;
}

.close-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    background-color: var(--secondary);
}

@keyframes background {
    from{
        opacity: 0%;
    }
    to{
        opacity: 40%;
    }
}

@keyframes dialog {
    from{
        opacity: 0%;
        top: 0px;
    }
    to{
        opacity: 100%;
        top: 50px;
    }
}