.container{
    height: 24px;
    width: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner{
    height: 4px;
    width: 24px;
    background-color: #90909044;
    position: relative;
    transition: 0.5s;
}

.spinner > div{
    width: 4px;
    height: 4px;
    background-color: #999;
    position: absolute;
    left: 0px;
    animation-name: spinner;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.spinner.invisible{
    background-color: #aaa;
    opacity: 0%;
}

.checkmark{
    color: #777;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}

.checkmark.invisible{
    opacity: 0%;
    transition-delay: 0s;
    transition-duration: 0.25s;
}

.checkmark-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes spinner {
    0%{left: 0px}
    100%{left: 20px}
}



/*.spinner {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: conic-gradient(
    #0000,
    #000,  
  );
  mask: 
    radial-gradient(circle, transparent 40%, #000 41%);
  animation: spin 1s linear infinite;
}


@keyframes spin {
  100% { transform: rotate(360deg); }
}*/