.container{
    height: 6px;
    width: 100px;
    background-color: #eee;
    position: relative;
}

.container > div{
    width: 6px;
    height: 6px;
    background-color: #aaa;
    position: absolute;
    left: 0px;
    animation-name: spinner;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0%{left: 0px}
    100%{left: 96px}
}