.list-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
}  

.list-item{
    background-color: #eee;
    border: 1px solid #eee;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
    touch-action: none;
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
}

.list-item:not(.edited):hover{
    background-color: #ddd;
}

.edited > button {
    padding: 6px;}

.checked{
    background-color: #ddd;
}

.checked > .item-text{
    position: relative;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checked > .item-text::after{
    background-color: black;
    position: absolute;
    content: '';
    top: 40%;
    left: 0;
    height: 2px;
    animation-name: strikethrough;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
    
.highlight{
    transition: 0.5s;
    color: red;
}

.highlight > .item-text::after{
    transition: 0.5s;
    background-color: red;
}

.placeholder{
    background-color: transparent;
    border: 1px dashed #00BFFF;
    background: #00BFFF17;
    cursor: default;
    pointer-events: none;
    color: #00BFFF;
}

.drag-divider{
    position: relative;
    height: 2px;
    width: calc(100% + 16px);
    background-color: #00BFFF;
}

.drag-divider::after{
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 0;
    height: 0;
  
    border-bottom: 6px solid transparent;
    border-left: 6px solid #00BFFF;
    border-top: 6px solid transparent;
}

.drag-divider::before{
    content: "";
    position: absolute;
    right: 0;
    top: -5px;
    width: 0;
    height: 0;
  
    border-bottom: 6px solid transparent;
    border-right: 6px solid #00BFFF;
    border-top: 6px solid transparent;
}

@keyframes strikethrough {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.context-menu-container{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-8px);
    transition: 0.2s;
}

.context-menu-container.closed{
    opacity: 0%;
    transform: scaleX(50%) scaleY(50%) translateX(-100%);
    pointer-events: none;
}

.context-menu{
    display: flex;
    flex-direction: row;
    border: 1px solid #aaa;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
}

.context-menu > button{
    padding: 8px 10px;
    border-radius: 0px;
    background-color: transparent;
    position: relative;
    color: #444;
}

.context-menu > button:hover{
    background-color: #ddd;
}

.context-menu > button:not(:nth-child(1))::before{
    content: "";
    position: absolute;
    left: -0.5px;
    width: 1px;
    height: 75%;
    background-color: #aaa;
}
