.auth-container{
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    button{
        align-self: center;
        position: relative;
    }
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.list-container > a{
    width: 100%;
    box-sizing: border-box;
    justify-content: start;
}



.dialog-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 12px;

    .input-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px;

        .input-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;

            .add-viewers-container{
                position: relative;
                
                button{
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    padding: 0px;
                    font-size: medium;
                }
            }
        }
    }

    .viewer-row{
        display: flex;
        gap: 8px;
        align-items: center;

        button{
            font-size: medium;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }

    .button-container{
        display: flex;
        justify-content: center;
        gap: 12px;
        padding: 12px;
    }

    .spinner-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

.create-list-button{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    right: 24px;
}