.list-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
}

.header-section{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.list-title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;

    .list-title-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .list-title{
        font-size: 1.2em;
        font-weight: bold;
    }

    .list-owner, .list-saved-text > span{
        font-size: small;
        font-weight: normal;
        color: grey;
    }

    .list-saved-text{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    position: sticky;
    bottom: 24px;
    background-color: var(--secondary-bg);
    width: fit-content;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px var(--shadow);
    border-radius: 8px;
    margin-top: 18px;
    align-self: center;
}

.input-container > button{
    font-size: larger;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 12px;

    .input-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px;

        .input-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;

            .add-viewers-container{
                position: relative;
                
                button{
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    padding: 0px;
                    font-size: medium;
                }
            }
        }
    }

    .viewer-row{
        display: flex;
        gap: 8px;
        align-items: center;

        button{
            font-size: medium;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }

    .button-container{
        display: flex;
        justify-content: center;
        gap: 12px;
        padding: 12px;
        position: relative;
    }

    .spinner-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}


@keyframes delete-warning {
    from{
        top: 10px;
        opacity: 0%;
        font-size: xx-small;
    }
    to{
        top: 0px;
        opacity: 100%;
        font-size: x-small;
    }
}