.settings-container{
    margin-top: 36px;
    padding: 24px;
}

.lists-header{
    margin-top: 0px;
}

.language-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 24px;
}

.language-button{
    font-size: 24px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    transition: border 0.2s;
    border: 2px solid transparent;
    box-sizing: content-box;
}

.language-button.selected, .language-button:hover{
    border: 2px solid var(--primary-bg-ct);
}